
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="import/bootstrapmod.css"></link>


<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<div class="page-header text-center">
<h1>Welcome</h1>
<h3><small>Please sign in below</small></h3>
</div>

<div class="col-lg-2 col-lg-1">
	<form method="post" action="login_action.cfm">
		<strong>Username</strong><br>
	  	<input type="text"  name="Username"><br>
		<strong>Password</strong><br>
	  	<input type="password" name="psw"><br><br>

			<input type="submit" align="middle" class='btn btn-lg btn-danger' name="Submit" style="position:static">

	</form><br>

	<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/Division.jpg" class="center-block" alt="Tom Clancy's The Division" width="560" height="345">
      </div>

      <div class="item">
        <img src="images/Division.jpg" class="center-block" alt="Tom Clancy's The Division" width="560" height="345">
      </div>

      <div class="item">
        <img src="images/arrow.jpg" class="center-block" alt="Minecraft" width="560" height="345">
      </div>

      <div class="item">
        <img src="images/dragon.jpg" class="center-block" alt="Skyrim" width="560" height="345">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



